:root {
  --primary-bg-color: rgba(0, 0, 0, 0.75);
  --hover-bg-color: rgba(0, 0, 0, 0.95);
  --text-color: #ffffff;
}


@media (min-width: 600px) {
  .demo-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--primary-bg-color);
    padding: 25px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
  }
  .card-hghlght {
    pointer-events: auto;
    transform: scale(1);
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    transform-origin: left top;
    max-width: 20%;
  }

  .card-hghlght:hover {
    background-color: var(--hover-bg-color);
    transform: scale(1);
    z-index: 3;
    border-bottom: 5px solid orangered;
    border-left: 5px solid orangered;
    z-index: 10;
    max-width: 100%;
  }

  .content:hover .card-hghlght:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
  }
}

.demo-card{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-bg-color);
  padding: 25px;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.card-hghlght {
  pointer-events: auto;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  transform-origin: left top;
  width: fit-content;
  overflow: hidden;
}

.card-hghlght:hover {
  background-color: var(--hover-bg-color);
  z-index: 3;
  border-bottom: 5px solid orangered;
  border-left: 5px solid orangered;
  width: 100%;
  max-width: 100%;
}

.card-hghlght:active {
  background-color: var(--hover-bg-color);
  z-index: 3;
  border-bottom: 5px solid orangered;
  border-left: 5px solid orangered;
  width: 100%;
  max-width: 100%;
}
