#root {
}

.site-footer {
  text-align: center;
  padding: 40px 0 20px;
  opacity: 0.6;
  font-size: 0.85rem;
}

.background {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  box-sizing: border-box;
  overflow-x: hidden;
  pointer-events: none;
}

.background h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.background > div {
  display: flex;
  flex-direction: column;
}

.background::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -3;
  pointer-events: none;
}

.background:after {
  animation: grain 8s steps(5) infinite;
  background-image: url('/paper-pattern2.png');
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: 1;
  pointer-events: none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@media only screen and (max-width: 768px) {
  .background {
    padding: 5vw;
  }
  .background::before {
    background-attachment: scroll;
  }

  .background h1 {
    margin-top: 30px;
    font-size: 1.8em;
  }
}